* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-image: url(https://lumiere-a.akamaihd.net/v1/images/pp_xmen1992_herobanner_21369_2ead90c7.jpeg?region=0,0,2048,878);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	color: white;
	text-align: center;
	font-size: 2em;
}

nav {
	background-color: #333;
}

nav ul {
	display: flex;
	list-style: none;
    
}

nav li {
	flex: 1;
	text-align: center;
}

nav li :focus {
    background-color: grey;
}

nav a {
	display: block;
	padding: 20px 0;
	color: white;
	text-decoration: none;
}

/*HOVER Y FOCUS AL NAV */
nav ul :hover {
    background-color: gray;
}

nav ul :focus {
	background-color: gray;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

section h2 {
	text-align: center;
	margin-bottom: 20px;
}

section ul {
	display: flex;
	justify-content: space-around;
}

/* SUSITUIR EL PUNTO DE LA LISTA POR LA X */

section li {
	margin: 0 10px;
	list-style-type:"🅧";
}

section a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

/* AÑADIR CORCHETES A LOS ENLACES */

section li::before {
    content: "[";
    padding-left: 5px;
}

section li::after {
    content: "]";
}

/* AÑADIR HOVER A LOS ENLACES */

section a:hover {
    color: crimson;
}
/* AÑADIR FOCUS A LOS ENLACES */
section a:focus {
	color: purple;
	border-color: purple;
	border-width: 3px;
	border-style: solid;
}

section a:active {
	color: purple;
}

footer {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}