.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.hijo {
    width: 100px;
    margin: 10px;
    background-color: blueviolet;
    color: whitesmoke;
}